<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" title="{{ _('Download') }}" data-bind="click: $root.download, css: { disabled: !$root.enableDownload() }"><i class="icon-download-alt"></i></button>
        {% if enableSdSupport %}
        <button class="btn" title="{{ _('Upload to SD') }}" data-bind="click: $root.uploadSD, css: { disabled: !$root.enableUploadSD() }"><i class="icon-upload-alt"></i></button>
        {% endif %}
        <button class="btn" title="{{ _('Remove') }}" data-bind="click: $root.remove, css: { disabled: !$root.enableRemove() }"><i class="icon-trash"></i></button>
        <button class="btn" title="{{ _('Slice') }}" data-bind="click: $root.slice, css: { disabled: !$root.enableSlicing() }"><i class="icon-magic"></i></button>
        <button class="btn" title="{{ _('Load') }}" data-bind="click: function() { $root.loadFile(false); }, css: { disabled: !$root.enableSelect(false) }"><i class="icon-folder-open"></i></button>
        <button class="btn" title="{{ _('Load and Print') }}" data-bind="click: function() { $root.loadFile(true); }, css: { disabled: !$root.enableSelect(true) }"><i class="icon-print"></i></button>
    </div>

    <div class="btn-group">
        <button class="btn" title="{{ _('Create Folder') }}" data-bind="click: $root.showAddFolderDialog, css: { disabled: !$root.loginState.isUser() }"><i class="icon-folder-close"></i></button>
        <button class="btn" title="{{ _('Rename') }}" data-bind="click: $root.rename, css: { disabled: !$root.enableRename() }"><i class="icon-edit"></i></button>
        <button class="btn" title="{{ _('Copy') }}" data-bind="click: $root.copy, css: { disabled: !$root.enableCopy() }"><i class="icon-copy"></i></button>
        <button class="btn" title="{{ _('Cut') }}" data-bind="click: $root.cut, css: { disabled: !$root.enableCopy() }"><i class="icon-cut"></i></button>
        <button class="btn" title="{{ _('Paste') }}" data-bind="click: $root.paste, css: { disabled: !$root.enablePaste() }"><i class="icon-paste"></i></button>
    </div>

    <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></button>
        <ul class="dropdown-menu">
            <li><a href="#" data-bind="click: function() { $root.listStyle('folders_files'); }"><i class="icon-ok" data-bind="style: {visibility: listStyle() == 'folders_files' ? 'visible' : 'hidden'}"></i> {{ _('Sort by Folders, Files') }}</a></li>
            <li><a href="#" data-bind="click: function() { $root.listStyle('files_folders'); }"><i class="icon-ok" data-bind="style: {visibility: listStyle() == 'files_folders' ? 'visible' : 'hidden'}"></i> {{ _('Sort by Files, Folders') }}</a></li>
            <li><a href="#" data-bind="click: function() { $root.listStyle('mixed'); }"><i class="icon-ok" data-bind="style: {visibility: listStyle() == 'mixed' ? 'visible' : 'hidden'}"></i> {{ _('Mixed') }}</a></li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
                <a href="#" tabindex="-1" data-bind="click: function() { $root.listHelper.changeSorting('nameAsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting().startsWith('name') ? 'visible' : 'hidden'}"></i> {{ _('Sort by name') }}</a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('nameAsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'nameAsc' ? 'visible' : 'hidden'}"></i> {{ _('ascending') }}</a></li>
                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('nameDsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'nameDsc' ? 'visible' : 'hidden'}"></i> {{ _('descending') }}</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#" tabindex="-1" data-bind="click: function() { $root.listHelper.changeSorting('uploadDsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting().startsWith('upload') ? 'visible' : 'hidden'}"></i> {{ _('Sort by upload date') }}</a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('uploadAsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'uploadAsc' ? 'visible' : 'hidden'}"></i> {{ _('ascending') }}</a></li>
                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('uploadDsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'uploadDsc' ? 'visible' : 'hidden'}"></i> {{ _('descending') }}</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#" tabindex="-1" data-bind="click: function() { $root.listHelper.changeSorting('sizeDsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting().startsWith('size') ? 'visible' : 'hidden'}"></i> {{ _('Sort by file size') }}</a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('sizeAsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'sizeAsc' ? 'visible' : 'hidden'}"></i> {{ _('ascending') }}</a></li>
                    <li><a href="#" data-bind="click: function() { $root.listHelper.changeSorting('sizeDsc'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'sizeDsc' ? 'visible' : 'hidden'}"></i> {{ _('descending') }}</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('machinecode'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'machinecode') ? 'visible' : 'hidden'}"></i> {{ _('Only show GCode files') }}</a></li>
            <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('model'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'model') ? 'visible' : 'hidden'}"></i> {{ _('Only show STL files') }}</a></li>
            {% if enableSdSupport %}
                <li class="divider"></li>
                <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('local'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'local') ? 'visible' : 'hidden'}"></i> {{ _('Only show files stored locally') }}</a></li>
                <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('sd'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'sd') ? 'visible' : 'hidden'}"></i> {{ _('Only show files stored on SD') }}</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="#" data-bind="click: function() { $root.listHelper.toggleFilter('printed'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'printed') ? 'visible' : 'hidden'}"></i> {{ _('Hide successfully printed files') }}</a></li>
        </ul>
    </div>
</div>

<form class="form-search" data-bind="submit: performSearch">
    <div class="search-query-with-clear" data-bind="css: {'active-clear': searchQuery}">
        <input type="search" class="input-block search-query" data-bind="value: searchQuery, valueUpdate: 'input'" placeholder="Search...">
        <span class="search-clear" data-bind="click: clearSearchQuery"><i class="fas fa-times"></i></span>
    </div>
</form>

<div class="select-group">
    <button class="btn" data-bind="click: selectAll">{{ _('Select all') }}</button>
    <button class="btn" data-bind="click: deselectAll">{{ _('Deselect all') }}</button>
</div>

<div class="table-container">
    <div class="table-container-header">
        <table class="table">
            <thead>
                <tr class="header">
                    <!-- ko if: $root.settings.settings.plugins.filemanager.enableCheckboxes -->
                    <th class="checkboxes"><!-- checkbox column --></th>
                    <!-- /ko -->
                    <th class="title">{{ _('Name') }}</th>
                    <th class="uploaded">{{ _('Uploaded') }}</th>
                    <th class="size">{{ _('Size') }}</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table-container-body">
        <table class="table table-hover">
            <tbody>
                <!-- ko if: currentPath() != "" -->
                <tr data-bind="click: $root.navigateUp">
                    <!-- ko if: $root.settings.settings.plugins.filemanager.enableCheckboxes -->
                    <td class="checkboxes"></td>
                    <!-- /ko -->
                    <td class="title_td"><i class="icon-arrow-left"></i> {{  _('Back') }}</td>
                    <td class="uploaded"></td>
                    <td class="size"></td>
                </tr>
                <!-- /ko -->

                <!-- ko foreach: $root.filesAndFolders -->
                <tr data-bind="singleOrDoubleClick: { click: $root.selectItem, dblclick: $root.dblClick }, css: { 'selected': $root.isSelected($data) }, attr: { id: $root.getEntryId($data) }, template: { name: $root.templateFor(true, $data), data: $data }"></tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>

<script type="text/html" id="filemanager_template_checkboxed">
    <td class="checkboxes" data-bind="stopBubble: true"><input type="checkbox" data-bind="checkedValue: $data, checked: $root.selectedFiles" /></td>
    <!-- ko template:{ name: $root.templateFor(false, $data), data: $data } --><!-- /ko -->
</script>

<script type="text/html" id="filemanager_template_machinecode">
    <td class="title_td">
        <!-- ko if: $root.settings.settings.plugins.filemanager.enableThumbnails -->
            <!-- ko if: $data.thumbnail -->
            <img data-bind="attr: { src: thumbnail }, style: { width: $root.settings.settings.plugins.filemanager.thumbnail.width }">
            <!-- /ko -->
        <!-- /ko -->
        <div>
            <i class="fas fa-file-code" data-bind="visible: $root.settings.settings.plugins.filemanager.enableThumbnails() && $root.settings.settings.plugins.filemanager.thumbnail.showIconNoThumbnail() && $data.thumbnail == null"></i>
            <div class="title" data-bind="css: $root.files.getSuccessClass($data), marquee: { class: 'marquee-hover' }">
                <!-- ko text: display --><!-- /ko -->
            </div>
        </div>
        <div><div class="internal" data-bind="visible: name != display, marquee: { class: 'marquee-hover' }">{{ _('Internal') }}: <span data-bind="text: name" /></div></div>
    </td>
    <td class="uploaded" data-bind="text: formatTimeAgo(date)"></td>
    <td class="size" data-bind="text: formatSize(size)"></td>
</script>

<script type="text/html" id="filemanager_template_model">
    <td class="title_td">
        <div><div class="title" data-bind="marquee: { class: 'marquee-hover' }"><!-- ko text: display --><!-- /ko --></div></div>
        <div><div class="internal" data-bind="visible: display && name != display && $root.files.showInternalFilename, marquee: { class: 'marquee-hover' }">{{ _('Internal') }}: <span data-bind="text: name" /></div></div>
    </td>
    <td class="uploaded" data-bind="text: formatTimeAgo(date)"></td>
    <td class="size" data-bind="text: formatSize(size)"></td>
</script>

<script type="text/html" id="filemanager_template_folder">
    <td class="title_td">
        <div><div class="title" data-bind="marquee: { class: 'marquee-hover' }"><i class="icon-folder-open"></i> <span data-bind="text: display"></span></div></div>
        <div><div class="internal" data-bind="visible: display && name != display && $root.files.showInternalFilename, marquee: { class: 'marquee-hover' }">{{ _('Internal') }}: <span data-bind="text: name" /></div></div>
    </td>
    <td class="uploaded" data-bind="text: formatTimeAgo(date)"></td>
    <td class="size" data-bind="text: formatSize(size)"></td>
</script>
