<div id="fileManagerNameDialog" class="modal hide">
    <div class="modal-body">
         <div class="control-group">
            <label class="control-label">{{ _('Name') }}</label>
            <div class="controls">
                <input style="width: 97%" data-bind="value: name, valueAllowUnset: false"></input>
            </div>
         </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Confirm') }}</a>
    </div>
</div>