<h4>FileManager Settings</h4>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.filemanager.enableCheckboxes">{{ _('Enable checkboxes') }}
        </label>
    </div>
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.filemanager.enableThumbnails">{{ _('Enable thumbnails') }}
        </label>
        <i>{{ _('Needs a plugin like prusaslicerthumbnail or curathumbnail to work') }}</i>
    </div>

    <div data-bind="visible: settings.plugins.filemanager.enableThumbnails">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.filemanager.thumbnail.showIconNoThumbnail">{{ _('Display a generic icon if no thumbnail was found') }}
            </label>

            <label for="thumbnail_Width">{{ _('Width of the thumbnail:') }} </label>
            <input type="number" id="thumbnail_Width" min="1" step="1" data-bind="value: settings.plugins.filemanager.thumbnail.width">
        </div>
    </div>
</div>
