<h4>FileManager Settings</h4>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.filemanager.enableCheckboxes">{{ _('Enable checkboxes') }}
        </label>
    </div>
</div>
